<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  This is going to be an App for creating and managing 
  <a href="http://en.wikipedia.org/wiki/Lesson_plan">lesson plans</a>.
</p>
<p>
  It is based on the sample application of the <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>. This project aims to make a book and screencasts to teach web development
  with <a href="http://rubyonrails.org/">Ruby on Rails</a>. 
</p>