<% provide(:title, 'About Us') %>
<h1>Über OSEBLI</h1>
<p>
Ziel des OSEBLI-Unterrichtsplaners ist es, Erkenntnisse der theoretische Lernpsychologie in die praktischer Unterrichtsplanung einfließen zu lassen. Dazu wird OSEBLI den Erstellungsprozess von kompetenzorientierter Unterrichtsplanung auf Grundlage der didaktischen Modelle von Oser und Aebli unterstützen und anleiteten. Zusätzlich soll in einer zweiten Phase die Möglichkeit der kooperativen Erstellung sowie eine einfache Verwaltung der Pläne ermöglicht werden.
</p>
<center>
	<%= link_to "Jetzt registrieren!", signup_path, class: "btn btn-large btn-success" %>
</center>