<% provide(:title, 'Home') %>
<!-- Falls Benutzer eingeloggt ist: -->
<% if signed_in? %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/micropost_form' %>
		</section>
	</aside>
</div>
<!-- Falls Benutzer NICHT eingeloggt ist: -->
<% else %>
<div class="center hero-unit">
	
	<h1><font face="Permanent Marker" color="#ff6666", font-weight="normal">OSEBLI-</FONT>Unterrichtsplaner</h1>
	<h2>
		Mit Hilfe dieser Webanwendung werden sich demnächst Unterichtspläne erstellen lassen.
	</h2>
	<%= link_to "Erfahre mehr!", about_path, class: "btn btn-large btn-info" %>
	<%= link_to "Jetzt registrieren!", signup_path, class: "btn btn-large btn-success" %>
</div>
<% end %>