<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to UVP-Manager</h1>
  <h2>
    This is going to be THE App for creating and managing lesson plans.
  </h2>
  <%= link_to "Learn more!", about_path, class: "btn btn-large btn-info" %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-success" %>
</div>

<!-- 
<%= link_to image_tag("http://upload.wikimedia.org/wikipedia/commons/2/29/ParusCaeruleus.jpg", alt: "Parus Caeruleus", width: "64px"), 'http://de.wikipedia.org/wiki/Blaumeise#mediaviewer/File:ParusCaeruleus.jpg' %>
-->