<% provide(:title, 'Neuigkeiten') %>
<h1>Neuigkeiten</h1>
<p>Die Tabelle führt alle Änderungen in chronologischer Reihenfolge auf.</p>
<table class="table table-striped">
	<tr>
		<th>#</th><th>Datum</th><th>Änderung</th>
	</tr>
	<tr>
		<td>1</td><td>26. Okt. 2014</td>
		<td>Startseite Überarbeitet ('Osebli' Schriftzug eingefügt)</td>
	</tr>
</table>