<li>
  <span>
  	Titel: <%= link_to uvp.title.html_safe, user_uvp_path(@user, uvp ) %>
  </span>
  <span class="content">
    <%= uvp.preface.html_safe %>
  </span>
  <span class="timestamp">
    Vor <%= time_ago_in_words(uvp.updated_at) %> geändert.
  </span>
</li>