<li>
  <div class="content">
  	<%= link_to uvp.title.html_safe, 
  	user_uvp_path(:user_id => params{:id}, :id => uvp.id) %>
  </div>
  <div class="content">
  	<%= uvp.preface.html_safe %>
  </div>
  <span class="timestamp">
    Posted <%= time_ago_in_words(uvp.created_at) %> ago.
  </span>
</li>