<h3><%= "Bearbeiten: #{@uvp.title}" %></h3>
<p>Hier kannst Du deinen Unterrichtsplan editieren:</p>
<div class="bordered" contenteditable="true" id=<%= "#{@uvp.id}" %> >
   <%= @uvp.preface.html_safe %>
</div>


