<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span5">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <%= @user.surname %>
      </h1>
      erstellt am 
      <%= Date.parse(@user.created_at.to_s).strftime("%d.%m.%Y") %>
    </section>
  </aside>
</div>