<footer class="footer">
  <small>
    UVP Sample App by Christoph van Heteren-Frese
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",  about_path %></li>
      <li><%= link_to "Impressum", impressum_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>