<footer class="footer">
  <small>
    OSEBLI-Unterrichtsplaner by Christoph van Heteren-Frese
  </small>
  <nav>
    <ul>
      <li><%= link_to "Über das Projekt",  about_path %></li>
      <li><%= link_to "Impressum", impressum_path %></li>
      <li><%= link_to "News", news_path %></li>
    </ul>
  </nav>
</footer>